<h2>商品編集</h2>
<%= form_with model: @item, url: admin_item_path do |f| %>
  <label for="inputImage">商品画像</label>
    <%= f.file_field :image, id:"inputImage", accept: "image/*" %>
  <label for="inputName">商品名</label>
    <%= f.text_field :name, autofocus: true, id:"inputName", class:"form-control" %>
  <label for="inputIntroduction">商品説明</label>
    <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", class:"form-control" %>
  <label for="inputGenreId">ジャンル</label>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, id:"inputGenreId" %>
  <label for="inputPrice">税抜価格</label>
    <%= f.text_field :price, autofocus: true, id:"inputPrice", class:"form-control" %>
  <p>販売ステータス</p>
  　<%= form_with(model: @item, local: true) do |form| %>
  　   <%= form.radio_button :is_active, :sale, checked: true %>
  　   <%= form.label :is_active, "販売中", {value: :sale, style: "display: inline-block;"} %>
  　   <%= form.radio_button :is_active, :sold %>
  　   <%= form.label :is_active, "販売停止中", {value: :sold, atyle: "display: inline-block;"} %>
  　<% end %>
  <%= f.submit "変更を保存", class:"btn btn-success" %>
<% end %>