<h2>ジャンル一覧・追加</h2>
<%= form_with model: @genre do |f| %>
  <h6>ジャンル名</h6>
  <%= f.text_field :name %>
  <%= f.submit '新規登録' %>
<% end %>


<h5>ジャンル</h5>
<%= form_with model: @genre do |f| %>
<h6>ケーキ</h6>
　<%= f.submit "編集する", class:"btn btn-success" %>
<h6>プリン</h6>
　<%= f.submit "編集する", class:"btn btn-success" %>
<h6>焼き菓子</h6>
　<%= f.submit "編集する", class:"btn btn-success" %>
<h6>キャンディ</h6>
　<%= f.submit "編集する", class:"btn btn-success" %>
<% end %>