<div class="container">
  <h3>配送先登録/一覧</h3>
  <%= form_with model: @address do |f| %>
  <div class="row mt-5 mb-3">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)", class:"col-3" %>
    <%= f.text_field :postal_code, :placeholder => "0000000", class:"col-2" %>
  </div>
  <div class="row mb-3">
    <%= f.label :address, "住所", class:"col-3" %>
    <%= f.text_field :address, :placeholder => "東京都港区六本木0-0", class:"col-6" %>
  </div>
  <div class="row mb-5">
    <%= f.label :name, "宛名", class:"col-3" %>
    <%= f.text_field :name, :placeholder => "山田花子", class:"col-2" %>
    <div class="col-5 text-right">
    <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-10">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th style="width: 10%">郵便番号</th>
            <th style="width: 45%">住所</th>
            <th style="width: 15%">宛名</th>
            <th style="width: 30%"><br></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td align="center">
              <%= link_to "編集する", edit_address_path(address), class:"btn btn-success" %>
              <%= link_to "削除する", address_path(address), method: :delete, class:"btn btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
