<div class="container">
  <div class="row">
    <div class="col-2 mr-auto">
      <table class="table table-border">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>ケーキ</th>
          </tr>
          <tr>
            <th>焼き菓子</th>
          </tr>
          <tr>
            <th>プリン</th>
          </tr>
          <tr>
            <th>キャンディ</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-10">
      <h2 class="font-weight-bold">商品一覧<font size="5">(全x件)</font></h2>
      <div class="row mt-3">
        <% @items.each do |item| %>
        <div class="col-3 pb-3">
          <%= link_to item_path(item) do %>
          <% if item.image.attached? %>
            <%= image_tag item.image, size: '200x150' %>
          <% else %>
            <%= image_tag 'NO_IMAGE.png', size: '200x150' %>
          <% end %>
          <%= item.name %><br>
          ￥<%= item.price %>
          <% end %>
        </div>
        <% end %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>